<div class="container">

<div class="row-adv">
  <div class="col-adv">
    <div class="card">
      <img src="../../../assets/cozy_books.png" alt="adv1" class="img-fluid" />
      <div class="adv-text">
        <h1>Cozy Books</h1>
        <h2>Discover the best cozy books to read in your free time.</h2>
      </div>
    </div>
  </div>

  <div class="col-adv">
    <div class="card">
      <img
        src="../../../assets/cozy_mistery.png"
        alt="adv2"
        class="img-fluid"
      />
      <div class="adv-text" >
        <h1>Best Cozy Mistery Books 2024</h1>
        <h2>Find the best cozy mistery books to read in 2024.</h2>
      </div>
    </div>
  </div>
</div>



</div>

