 .carousel-discounts {
  height: 4rem;


}.slide-in-carousel {
  background-color: var(--negro);
  color: var(--fondo-claro);
  text-align: center;
  height: 4rem;
}

.slide-in-carousel  h2{
  padding-top: 1rem;
}

::ng-deep .carousel-indicators {
  display: none !important;
}

::ng-deep .carousel-control {
  display: none;
}


.card{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border: 0px solid #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  margin: 1rem;
  align-items: start;

}

.card .box-inside{
  flex-basis: 33.3%;
  background-color: var(--verde);
  border-color: var(--negro);
  justify-content: center;
  display:flex;
  font-size: 4rem;
  border: 1rem solid var(--gris);
  padding: 5rem;
}
}

