<carousel class="carousel  discounts">
  <slide class="slide-in-carousel">
    <h2>Free shipping on orders over $50</h2>
  </slide>
  <slide class="slide-in-carousel">
    <h2>Free returns</h2>
  </slide>
  <slide class="slide-in-carousel">
    <h2>Free in-store pickup</h2>
  </slide>
</carousel>
<div class="container">
  <div class="card">
      <div class="box-inside">
        <img src="https://marketplace.canva.com/EAFXKFIDad4/1/0/1003w/canva-brown-mystery-novel-book-cover-cSu1pdo96zA.jpg" alt="image" width="320px" height="370px">
      </div>
      <div class="box-inside">
        <h1>TITULO</h1>
      </div>
  </div>
</div>
