<carousel class="carousel  discounts">

  <slide class="slide-in-carousel">
    <h2>Free shipping on orders over $50</h2>
  </slide>
  <slide class="slide-in-carousel">
    <h2>Free returns</h2>
  </slide>
  <slide class="slide-in-carousel">
    <h2>Free in-store pickup</h2>
  </slide>
</carousel>
<div class="container">

        <div class="d-flex-box-7">
            <div class="box-inside-1">
                 <div class="box-inside-2">
                   <div>  <img src="{{book?.published_works?.[0]?.cover_art_url}}" alt="image" width="320px" height="370px"></div>
                   <div>
                     <h1>Autor:  <span class="description">JR Rowling</span></h1>

                     <h2>Whislist:
                      <span class="like">
                        <svg *ngIf="!bookSts"
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-heart"
                        viewBox="0 0 16 16"
                        >
                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                      </svg>


                      <svg *ngIf="bookSts"
                        color="red"
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-heart-fill"
                        viewBox="0 0 16 16"
                        >
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                      </svg>
                        </span>
                     </h2>

                   </div>
                 </div>
            </div>
            <div class="box-inside-1">
              <div class="box-inside-3">
               <h1>{{book?.title}}</h1>
               <article class="summary" >
                <p>
                  {{book?.summary}}
                </p>
               </article>
              </div>
            </div>

        </div>

        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Book Details
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <h2>Copyright: <span class="description">{{book?.published_works?.[0]?.copyright}}</span></h2>
                <h2>ISBN: <span class="description">{{book?.canonical_isbn}}</span></h2>
                <h2>Languaje: <span class="description">{{book?.language}}</span></h2>
                <h2>Pages: <span class="description">{{book?.published_works?.[0]?.page_count}}</span></h2>
                <h2>Series Name: <span class="description">{{book?.series_name}}</span></h2>

                </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Reviews
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <div class="row">
                  <h2 class="impact">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque ea beatae ipsum corrupti, impedit esse similique non, natus distinctio a obcaecati repellat? Odit, minus iure ipsam labore facilis quasi nesciunt."</h2>
                  <h2 class="impact-bold">If anyone asks where I am, I've left the country. Oh... candy, leftovers, Eggo's... she really likes Eggo's. Why are you keeping this curiosity door lock?</h2>
                  <h2 class="impact">"Subway tile lomo forage blog hammock, blackbird spyplane pok pok shabby chic vibecession vaporware cupping. Aesthetic butcher sustainable gentrify vinyl literally. Wayfarers hoodie pour-over scenester."</h2>
                  <h2 class="impact-bold">"Echo park pickled biodiesel keffiyeh plaid wolf same chicharrones pok pok pork belly snackwave palo santo. Whatever grailed bitters skateboard sriracha bruh sus sartorial."</h2>
                </div>
              </div>
            </div>

          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Similars books
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <div class="row">
                  <app-book-carousel></app-book-carousel>
                </div>
              </div>
            </div>

          </div>

        </div>

</div>
